# .htaccess

# Set the MPM module to use
<IfModule mod_mpm_prefork.c>
    # Use prefork MPM
    StartServers             2
    MinSpareServers          6
    MaxSpareServers          12
    MaxRequestWorkers        150
    MaxConnectionsPerChild   0
</IfModule>